.cover {
    width: 100%;
    min-height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: #282c34;
    color: silver;
}






